# Python basics - part II

## Repeated code evaluation

### While ...

In [1]:
value = 17

while value < 21:
    print(value)
    value = value + 1

17
18
19
20

In [1]:
value = 17
max_value = 30

while True:
    value = value + 1
    if value > max_value:
        break              #stop here and escape the while loop
    elif value%2==0:
        continue           #stop here and continue the while loop
    print(value)

19
21
23
25
27
29

Warning: Make sure that the condition gets True after a finite number of steps!

In [2]:
#Example of realy bad code: 
#The following code finishes if increment = 1 or 2.
#But if increment = 0 or 3, the program is trapped in an infinite loop.
#To stop it click on 'interrupt kernel'

value = 0
increment = 1 

while not value == 100:
    value = value + increment

## Sequences & for-loops

### Sequences

In [3]:
a = [1,2,3,4,5]   #a list
b = (1,2,3,4,5)   #a tuple
c = '12345'       #a string

Since lists and tuples can contain arbitrary data types, they can be 'nested':

In [4]:
nested_list = [[1,2,3],[4,5,6],[7,8,9]]

All three sequence types (tuples, strings and lists) share much of their syntax and functionality.

In [5]:
print(len(a),len(b),len(c))

5 5 5

In [6]:
print( a + a )
print( b + b )
print( c + c )

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
1234512345

single items are accessible by their index (starting from 0):

In [7]:
print( a[0], b[1], c[2] )

1 2 3

Negative indices are counted from the end (starting with -1)

In [8]:
print ( a[-1], b[-3] )

5 3

A subset of items can be accessed by "slices". 

Syntax: [I:J:K] means start from index I, stop at index J and take every K'th item. If I is omitted, start from the first item, if J is omitted, stop at the last item, and if K is omitted, take every item.

In [8]:
print( a[1:4] ) #get items from 1 to 4
print( a[3:5] ) #get items from 3 to 5
print( a[:4] ) #get items from 0 to 4
print( a[3:] ) #get items from 3 to the end
print( a[::2] ) #get every second item

[2, 3, 4]
[4, 5]
[1, 2, 3, 4]
[4, 5]
[1, 3, 5]

The in-operator checks whether an item is in the sequence:

In [9]:
3 in [1,2,3,4,5]

True

(2, True)

In [14]:
'cde' in 'abcdefgh'

True

 In contrast to tuples and strings, lists are mutable. Items can be replaced, removed or added.

In [12]:
a = [1,2,3,4]      #create list
a[2] = 12          #replace item 2 by value 12
a.append(34)       #add value 34 to the end
a.extend([0,0,0])  #add several values to the end
a.pop()            #remove last item
a.insert(3, 'blub')#insert object before index 3
a.reverse()        #reverse list
print(a)

[0, 0, 34, 4, 'blub', 12, 2, 1]

### For-loops

In [16]:
numbers = [20,21,22,23]
for i in numbers:
    print(i)

20
21
22
23

The iterations can be controlled with break and continue

In [17]:
for i in numbers:
    if i%2==1:
        print(i)

21
23

In [15]:
for i in numbers[::2]:
    print(i)

20
22

For-loops can not only iterate through sequences, but also through 'iterable' objects, like range().

In [19]:
#Example: We want to sum up all numbers betwen 0 and 100. 
#Instead of manually typing a list of all numbers, we can use range: 
s = 0
for i in range(101):
    s = s + i
print(s)

5050

List comprehensions: A short way to create a sequence.

In [ ]:
#long version: "for-loop"
li = []
for i in range(100):
    li.append(i*2)

#short version:
li = [2*i for i in range(101)]

print(li)

List comprehensions can be used as a filter:

In [23]:
li = [2*i for i in range(50,101,2)]
print(li)

[100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148, 152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200]